.searchSection {
  padding: 0 14px;
  margin-bottom: 30px;
}

.searchContainer {
  display: flex;
  gap: 12px;
  align-items: center;
}

.searchInputWrapper {
  flex: 1;
  position: relative;
  background: white;
  border: 1px solid #f3f3f3;
  border-radius: 12px;
  height: 48px;
  display: flex;
  align-items: center;
  padding: 0 14px;
}

.searchIcon {
  margin-right: 14px;
  display: flex;
  align-items: center;
}

.searchInput {
  background: transparent;
  font-family: 'Sulphur Point', sans-serif;
  font-size: 14px;
  color: #979797;
  width: 100%;
  letter-spacing: 1px;
}

.searchInput::placeholder {
  color: #979797;
}

.filterButton {
  width: 48px;
  height: 48px;
  background-color: #f6f4f4;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
} 